<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Dedicated and passionate elementary teacher candidate who aims to foster growth and a love for learning in every student. An energetic individual proficient in technology and implementing different teaching methods in the classroom. Committed to creating an inclusive environment and positive relationships between students, parents, and educators. A teacher who wants to provide students with the quality of education that they deserve. </p>
      </div>
    </div>
  </div>
</section>
